@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-titan-one: var(--font-titan-one);
  --font-montserrat: var(--font-montserrat);
  --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  background-image: url(/image-tile-bg.webp);
  background-size: 500px 500px;
  background-position: 0 0;
  background-repeat: repeat;  
}

body::selection {
  background: #bb4d00;
  color: #ffffff;
}

.gravy-frame {
	width: 312px;
	&:nth-of-type(1) {
		margin-bottom: 27px;

		.fry-image {
			top: 33px;
			left: -56px;
		}
	}
	
	&:nth-of-type(2) {
		margin-bottom: 28px;
		transform: translateY(3px);

		.title-bar {
			margin-bottom: 1px;
		}

		.fry-image {
			top: 33px;
			left: -56px;
			transform: scale(1.1, 1.1) !important;
		}
		
	}
	&:nth-of-type(3) {
		margin-bottom: 28px;
		transform: translateY(7px) !important;
		
		.fry-image {
			top: 31px;
			left: -56px;
			transform: scale(-1.2, 1.2) !important;
		}
	}


	&:nth-of-type(4) {
		transform: translateY(11px);
		.fry-image {
			top: 30px;
			left: -56px;
			transform: scale(1.6) !important;
			z-index: -1;
		}
	}
}

.plaid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAABoklEQVR4AeyZQarCQBBEm9m4/vt/EDFIIHgX7+INPIg7EYLoSdx7hGgFhBBcOvUEezXMqql+Vd1mLIfFYrhuNgNx7rtuiIhBp+rrrH0vf+t13M/ncJ+3pont6RRPkfF/uYTrXgixai4hVs3FCKu4k+yrHkaYEKvYYIRVnLA1RpgQK1tjhFWcsDVGmBCrGGGEVZywNUaYEKsYYYRVnLA1RpgQqxhhhFWcsDVGmBCrGGGEVZywNUaYEHtrmsAIZ4ZNjwEY4cyw6ZkHI5wZzgx3VV4zcw/rCdXxdJsZzgxnhj/yd8zv7eHV8Th2ToNKg8R11/dw27bjH2q75XI8HfdC/aaVuL7vw30W6ruUEKvmFtlY9nKTVnG/6D4KIVbNJcSqyZlhV6Yxwplh029ajLAGiMvG0wGpAUKIzj3syjRGeGozl1jFiLCzmpx72DXAMMJOG0+bKXsRovO3tAbKlEStO0bYIe5dbAg7q8n5Pezaywjh5xta7mFXpjHC7waKw9YaIITo3MO19u7cSRhhV2bnMSHsrCbnHp6TqHXHCLsy+y0ZfgAAAP//jXaxIgAAAAZJREFUAwB+uTNWgW7orwAAAABJRU5ErkJggg==);
}